.hero {
  padding-top: 90px;
  padding-bottom: 85px;
  background-color: rgba(71, 118, 160, 1);
  background-image: url("/source/img/hero_background_image.png");
  background-repeat: no-repeat;
  background-position: center;
  text-align: center;
}
