@use "../variables.scss";

.main-nav__toggle {
  display: flex;
  margin: 17px 20px 17px auto;
  width: 23px;
  height: 22px;
  background-image: url("../img/burger_icon.svg");
  background-color: variables.$background-white;
  background-repeat: no-repeat;
  background-position: center;
  border: none;
  padding: 0;
}

@media (min-width: variables.$tablet-width) {
  .main-nav__toggle {
    display: none;
  }
}

