@use "../variables.scss";

.main-footer {
  &__wrapper {
    padding-top: 28px;
    padding-bottom: 23px;
    text-align: center;
  }

  &__link-name {
    color: variables.$text-title-color;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 21px;
    line-height: 26px;
    margin: 0 0 33px 0;
    display: inline-block;
  }
}
