@use "../variables.scss";

.site-list {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 0;
  padding: 0;
  list-style-type: none;
  background-color: variables.$background-blue;
  font-family: "PT Sans", "Arial", "Helvetica", sans-serif;
  font-size: 18px;
  line-height: 26px;
  font-weight: 700;
  text-align: center;
  text-transform: uppercase;
  color: variables.$background-white;
}

.site-list__link {
  color: rgba(255, 255, 255, 1);
}

.site-list__item {
  padding-top: 17px;
  padding-bottom: 12px;
  box-shadow: 0 1px 0 rgba(1, 1, 1, 0.2), inset 0 1px 0 rgba(255, 255, 255, 0.2);
}

@media (min-width: variables.$tablet-width) {
  .site-list {
    background-color: variables.$background-white;
    display: flex;
    flex-direction: row;
  }

  .site-list__item {
    min-width: 153px;
    box-shadow: none;
    font-style: bold;
    font-size: 14px;
    line-height: 21px;
    padding: 18px 0 17px 0;
  }

  .site-list__item:nth-child(2) {
    margin-right: 153px;
  }

  .site-list__link {
    color: variables.$text-title-color;
  }
}

@media (min-width: variables.$desktop-width) {
  .site-list__item:not(:last-child) {
    margin-right: 87px;
  }

  .site-list__item:nth-child(2) {
    margin-right: 327px;
  }
}
