$background-white: rgba(255, 255, 255, 1);
$background-blue: rgba(129, 179, 210, 1);
$text-title-color: rgba(0, 0, 0, 1);
$text-description-color: rgba(51, 51, 51, 1);
$background-grey: rgba(238, 238, 238, 1);
